<!DOCTYPE html>
<h1>Comedians</h1>
<body>
  <div class="stats-box">
    Stats:
    <% if @comedians.same_age? %>
    Comedians: <%= @comedians.pluck(:name).uniq.join(', ') %>
    <% end %>
    Average Age: <%= @comedians.average(:age).round %>
    Home Towns: <%= @comedians.pluck(:city).uniq.join(', ') %>
  </div>
  <% @comedians.each do |comedian| %>
    <div id = "<%= comedian.id %>"
    <h3><%= comedian.name %></h3>

    <ul>
        <li><img src= "<%= comedian.thumbnail %>"></li>
        <li><%= comedian.age %></li>
        <li><%= comedian.city %></li>
    </ul>
    <h5>Number of Specials: <%= comedian.number_of_specials %></h5>
    <% comedian.specials.each do |special| %>
    <p>
      Title: <%= special.title %>
      Run Time: <%= special.run_time %>
    <% end %>
    </div>
  <% end %>
</body>
